Repository Zulko/moviepy, pull requests merged in 2021-01, with the labels that each got.

#1389 docs: fix simple typo, tranformed -> transformed
  moviepy/video/VideoClip.py
Labels: documentation

#1407 Move directory of test to temporal location and close clips
  tests/test_VideoClip.py
Labels: tests

#1408 Use temporal directory to write a video in test and close clips
  tests/test_compositing.py
Labels: tests

#1412 Fix MacOSX tests with temporal workaround for python.app issue
  .github/workflows/test_suite.yml
Labels: tests

#1423 Update 'AudioClip' docstring example
  moviepy/audio/AudioClip.py
Labels: documentation

#1416 Remove Pipfile and Pipfile.lock
  Pipfile
  Pipfile.lock
Labels: tooling

#1422 Update 'dancing_knights.py' example
  examples/dancing_knights.py
Labels: examples

#1417 Remove TravisCI related code from tests
  .github/workflows/test_suite.yml
  appveyor.yml
  tests/test_examples.py
  tests/test_helper.py
  tests/test_issues.py
Labels: tests, tooling

#1425 Fix 'Clip::time_transform' docstring examples
  moviepy/Clip.py
Labels: documentation

#1296 fix to terminate the process that has ended
  moviepy/audio/io/readers.py
  moviepy/video/io/ffmpeg_reader.py
Labels: bug-fix

#1429 Replace 'tostring' by 'tobytes' in 'video.io.gif_writers::write_gif'
  CHANGELOG.md
  moviepy/video/io/gif_writers.py
Labels: bug-fix

#1420 Correctly center image when resizing
  CHANGELOG.md
  moviepy/video/VideoClip.py
  moviepy/video/tools/drawing.py
Labels: bug-fix

#1426 Don't skip audioclip tests in Windows
  tests/test_AudioClips.py
Labels: tests

#1373 Updates loop.py for fix
  moviepy/video/fx/loop.py
  tests/test_fx.py
Labels: bug-fix

#1436 Test Python3.9 in Linux
  .github/workflows/test_suite.yml
Labels: tooling

#1414 Update 'headblur' example
  examples/headblur.py
  media/chaplin.mp4
  moviepy/video/fx/headblur.py
Labels: examples

#1401 Fix audio normalizing for mute clips
  CHANGELOG.md
  moviepy/audio/fx/audio_normalize.py
  tests/test_fx.py
Labels: bug-fix

#1406 Add missing optional documentation dependencies 'Sphinx' and 'sphinx-rtd-theme'
  setup.py
Labels: documentation

#1440 Remove 'rewrite_audio' argument from 'VideoClip.write_videofile'
  moviepy/video/VideoClip.py
Labels: refactor

#1427 Fix test 'test_matplotlib' in 'test_examples.py'
  tests/test_examples.py
Labels: tests

#1443 Pass tuple to 'np.vstack' and 'np.hstack' in 'AudioClip.to_soundarray'
  moviepy/audio/AudioClip.py
Labels: refactor

#1431 Test unicode subtitles
  media/subtitles-unicode.srt
  media/subtitles.srt
  tests/test_PR.py
  tests/test_misc.py
Labels: tests

#1340 Move most imports from editor.py to __init__.py
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/question.md
  .github/workflows/format_check.yml
  CHANGELOG.md
  README.rst
  docs/examples/quick_recipes.rst
  docs/getting_started/audioclips.rst
  docs/getting_started/compositing.rst
  docs/getting_started/effects.rst
  docs/getting_started/efficient_moviepy.rst
  docs/getting_started/quick_presentation.rst
  docs/getting_started/videoclips.rst
  docs/getting_started/working_with_matplotlib.rst
  docs/ref/audiofx.rst
  docs/ref/videofx.rst
  examples/compo_from_image.py
  examples/dancing_knights.py
  examples/example_with_sound.py
  examples/headblur.py
  examples/logo.py
  examples/masked_credits.py
  examples/moving_letters.py
  examples/painting_effect.py
  examples/soundtrack.py
  examples/star_worms.py
  examples/the_end.py
  examples/ukulele_concerto.py
  moviepy/Clip.py
  moviepy/__init__.py
  moviepy/audio/fx/audio_loop.py
  moviepy/audio/fx/audio_normalize.py
  moviepy/audio/fx/volumex.py
  moviepy/editor.py
  moviepy/video/VideoClip.py
  moviepy/video/compositing/transitions.py
  moviepy/video/io/html_tools.py
  moviepy/video/tools/cuts.py
  moviepy/video/tools/tracking.py
  tests/test_compositing.py
  tests/test_fx.py
  tests/test_issues.py
Labels: feature

#1448 test_suite.yml now uses a secret coveralls token
  .github/workflows/test_suite.yml
Labels: tooling

#1430 Test properly 'blackwhite' FX using 'BitmapClip'
  moviepy/video/VideoClip.py
  tests/test_fx.py
Labels: fx, tests

#1450 Update 'coveralls'; remove 'coverage'; fix coverage report in CI for pull requests
  .github/workflows/test_suite.yml
  setup.py
Labels: tooling

#1419 Remove 'preview' and 'show' functions from 'moviepy.editor'
  moviepy/editor.py
Labels: refactor

#1424 Add 'multiply_stereo_volume' FX; rename 'volumex' to 'multiply_volume'
  CHANGELOG.md
  docs/getting_started/compositing.rst
  docs/getting_started/quick_presentation.rst
  docs/ref/audiofx.rst
  docs/ref/audiofx/moviepy.audio.fx.all.multiply_stereo_volume.rst
  docs/ref/audiofx/moviepy.audio.fx.all.multiply_volume.rst
  examples/example_with_sound.py
  moviepy/Clip.py
  moviepy/audio/fx/__init__.py
  moviepy/audio/fx/audio_left_right.py
  moviepy/audio/fx/audio_normalize.py
  moviepy/audio/fx/multiply_stereo_volume.py
  moviepy/audio/fx/multiply_volume.py
  moviepy/audio/fx/volumex.py
  tests/test_fx.py
Labels: audio, breaking-change, feature, fx

#1452 Remove obsolete appveyor script 'run_with_env.cmd'
  appveyor/run_with_env.cmd
Labels: tooling

#1451 Remove audio_loop afx
  CHANGELOG.md
  docs/ref/audiofx.rst
  docs/ref/audiofx/moviepy.audio.fx.all.audio_loop.rst
  moviepy/__init__.py
  moviepy/audio/fx/__init__.py
  moviepy/audio/fx/all/__init__.py
  moviepy/audio/fx/audio_loop.py
  tests/test_fx.py
Labels: breaking-change

#1453 Fix not importing everything from editor.py
  moviepy/editor.py
Labels: bug-fix

#1439 Formalize flake8 linting
  .github/workflows/format_check.yml
  README.rst
  examples/dancing_knights.py
  examples/headblur.py
  moviepy/Clip.py
  moviepy/audio/fx/__init__.py
  moviepy/audio/fx/all/__init__.py
  moviepy/audio/fx/audio_loop.py
  moviepy/audio/fx/audio_normalize.py
  moviepy/audio/fx/multiply_stereo_volume.py
  moviepy/audio/io/AudioFileClip.py
  moviepy/audio/io/ffmpeg_audiowriter.py
  moviepy/editor.py
  moviepy/tools.py
  moviepy/video/VideoClip.py
  moviepy/video/compositing/transitions.py
  moviepy/video/fx/__init__.py
  moviepy/video/fx/all/__init__.py
  moviepy/video/fx/freeze.py
  moviepy/video/fx/freeze_region.py
  moviepy/video/fx/loop.py
  moviepy/video/fx/mask_and.py
  moviepy/video/fx/mask_color.py
  moviepy/video/fx/mask_or.py
  moviepy/video/fx/painting.py
  moviepy/video/fx/resize.py
  moviepy/video/fx/rotate.py
  moviepy/video/fx/speedx.py
  moviepy/video/fx/time_symmetrize.py
  moviepy/video/io/ImageSequenceClip.py
  moviepy/video/io/VideoFileClip.py
  moviepy/video/io/ffmpeg_reader.py
  moviepy/video/io/html_tools.py
  moviepy/video/tools/cuts.py
  moviepy/video/tools/subtitles.py
  moviepy/video/tools/tracking.py
  setup.cfg
  setup.py
  tests/test_AudioClips.py
  tests/test_ImageSequenceClip.py
  tests/test_PR.py
  tests/test_VideoClip.py
  tests/test_VideoFileClip.py
  tests/test_Videos.py
  tests/test_compositing.py
  tests/test_examples.py
  tests/test_ffmpeg_reader.py
  tests/test_fx.py
  tests/test_helper.py
  tests/test_issues.py
  tests/test_misc.py
  tests/test_resourcerelease.py
  tests/test_resourcereleasedemo.py
  tests/test_tools.py
  tests/test_videotools.py
Labels: refactor, tooling

#1442 Remove 'coreader' methods adding formal '__copy__' API
  CHANGELOG.md
  docs/getting_started/efficient_moviepy.rst
  examples/example_with_sound.py
  examples/painting_effect.py
  moviepy/Clip.py
  moviepy/audio/AudioClip.py
  moviepy/audio/io/AudioFileClip.py
  moviepy/video/VideoClip.py
  moviepy/video/fx/blink.py
  moviepy/video/io/VideoFileClip.py
  tests/test_AudioClips.py
  tests/test_Clip.py
  tests/test_VideoClip.py
  tests/test_VideoFileClip.py
  tests/test_issues.py
Labels: breaking-change, bug-fix, enhancement

#1455 Update dependency version requirements
  setup.py
Labels: dependencies

#1460 Speed up 'AudioClip.to_soundarray'
  moviepy/audio/AudioClip.py
Labels: audio, refactor

#1463 Optimise test suite speed
  media/subtitles.srt
  tests/test_PR.py
  tests/test_Videos.py
  tests/test_examples.py
  tests/test_fx.py
  tests/test_issues.py
  tests/test_misc.py
Labels: tests

#1461 Fix 'freeze' FX not freezing at the end and add proper tests
  CHANGELOG.md
  moviepy/video/fx/freeze.py
  tests/test_fx.py
Labels: bug-fix, fx, video

#1459 Add AudioClip stereo example
  moviepy/audio/AudioClip.py
Labels: audio, documentation

#1444 Improve 'resizer' function discovering in 'moviepy.video.fx.resize'
  moviepy/video/fx/resize.py
Labels: fx, refactor, video

#1469 Fix minor inconsistencies
  moviepy/video/VideoClip.py
  tests/test_examples.py
  tests/test_issues.py
Labels: refactor, tests, video

#1465 Documented 'clips_array' and renamed 'cols_widths' argument by 'cols_heights'
  CHANGELOG.md
  moviepy/video/compositing/CompositeVideoClip.py
Labels: breaking-change, documentation, refactor, video

#1464 Add 'AudioClip.max_volume(stereo=True)' support for more than 2 channels
  CHANGELOG.md
  moviepy/audio/AudioClip.py
  tests/test_AudioClips.py
Labels: audio, bug-fix, enhancement

#1468 Fix 'Clip.cutout' transformation not being applied properly
  CHANGELOG.md
  moviepy/Clip.py
Labels: audio, bug-fix

#1467 Fix 'video.tools.drawing.color_gradient'
  CHANGELOG.md
  moviepy/video/tools/drawing.py
Labels: bug-fix, video

#1462 Fix 'fps' not defined for 'CompositeAudioClip' at initialization
  CHANGELOG.md
  moviepy/audio/AudioClip.py
  tests/test_AudioClips.py
Labels: audio, bug-fix, refactor

#1470 Wrap 'creationflags=0x08000000' Popen kwarg in function
  moviepy/audio/io/ffmpeg_audiowriter.py
  moviepy/audio/io/readers.py
  moviepy/config.py
  moviepy/tools.py
  moviepy/video/VideoClip.py
  moviepy/video/io/ffmpeg_reader.py
  moviepy/video/io/ffmpeg_writer.py
  moviepy/video/io/gif_writers.py
Labels: refactor

#1471 Add support for retrieve clip frames number using 'clip.n_frames'
  CHANGELOG.md
  docs/examples/quick_recipes.rst
  moviepy/audio/io/readers.py
  moviepy/decorators.py
  moviepy/video/VideoClip.py
  moviepy/video/io/ffmpeg_reader.py
  tests/test_ffmpeg_reader.py
Labels: feature

#1475 Rename 'colorx' FX by 'multiply_color'
  CHANGELOG.md
  docs/getting_started/effects.rst
  docs/ref/videofx.rst
  docs/ref/videofx/moviepy.video.fx.all.colorx.rst
  moviepy/video/fx/__init__.py
  moviepy/video/fx/multiply_color.py
  tests/test_fx.py
Labels: breaking-change, refactor

#1479 Setup 'isort' and 'pre-commit'
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/format_check.yml
  .pre-commit-config.yaml
  CONTRIBUTING.md
  README.rst
  docs/conf.py
  examples/compo_from_image.py
  examples/dancing_knights.py
  examples/example_with_sound.py
  examples/headblur.py
  examples/logo.py
  examples/masked_credits.py
  examples/moving_letters.py
  examples/painting_effect.py
  examples/soundtrack.py
  examples/star_worms.py
  examples/the_end.py
  examples/ukulele_concerto.py
  find_latest_imagemagick_version.py
  moviepy/__init__.py
  moviepy/audio/fx/__init__.py
  moviepy/audio/fx/all/__init__.py
  moviepy/audio/fx/audio_normalize.py
  moviepy/audio/io/preview.py
  moviepy/audio/io/readers.py
  moviepy/config.py
  moviepy/editor.py
  moviepy/utils.py
  moviepy/video/VideoClip.py
  moviepy/video/compositing/CompositeVideoClip.py
  moviepy/video/compositing/transitions.py
  moviepy/video/fx/all/__init__.py
  moviepy/video/fx/freeze_region.py
  moviepy/video/fx/headblur.py
  moviepy/video/fx/painting.py
  moviepy/video/fx/rotate.py
  moviepy/video/fx/time_symmetrize.py
  moviepy/video/io/gif_writers.py
  moviepy/video/io/html_tools.py
  moviepy/video/io/preview.py
  moviepy/video/tools/tracking.py
  setup.cfg
  setup.py
  tests/test_AudioClips.py
  tests/test_BitmapClip.py
  tests/test_VideoClip.py
  tests/test_compositing.py
  tests/test_examples.py
  tests/test_ffmpeg_reader.py
  tests/test_ffmpeg_tools.py
  tests/test_fx.py
  tests/test_helper.py
  tests/test_issues.py
  tests/test_misc.py
Labels: refactor, tooling

#1480 Add 'multiply_volume' FX tests
  tests/test_fx.py
Labels: audio, fx, tests

#1478 Rename 'speedx' FX by 'multiply_speed'
  CHANGELOG.md
  docs/getting_started/effects.rst
  docs/ref/videofx.rst
  docs/ref/videofx/moviepy.video.fx.all.multiply_color.rst
  docs/ref/videofx/moviepy.video.fx.all.multiply_speed.rst
  docs/ref/videofx/moviepy.video.fx.all.speedx.rst
  moviepy/Clip.py
  moviepy/video/VideoClip.py
  moviepy/video/fx/__init__.py
  moviepy/video/fx/multiply_speed.py
  moviepy/video/io/gif_writers.py
  tests/test_VideoClip.py
  tests/test_fx.py
Labels: breaking-change, refactor

#1477 Remove 'make_loopable' from transitions
  CHANGELOG.md
  moviepy/video/compositing/transitions.py
  moviepy/video/fx/make_loopable.py
Labels: breaking-change, refactor

#1474 Add 'center', 'translate' and 'bg_color' arguments to 'rotate' FX
  CHANGELOG.md
  moviepy/video/fx/rotate.py
Labels: feature, fx, video

#1486 Add 'mask_and' FX tests
  moviepy/video/fx/mask_and.py
  tests/test_fx.py
Labels: fx, tests, video

#1485 Add 'mask_or' FX tests
  moviepy/video/fx/mask_or.py
  tests/test_fx.py
Labels: fx, tests, video

#1484 Test all 'rotate' FX arguments combinations
  moviepy/video/fx/rotate.py
  tests/test_fx.py
Labels: fx, tests, video

#1490 Fix error parsing audio with attached picture in 'parse_ffmpeg_infos'
  media/with-attached-pic.mp3
  moviepy/audio/io/readers.py
  moviepy/video/io/ffmpeg_reader.py
  tests/test_ffmpeg_reader.py
Labels: bug-fix

#1481 Add 'audio_delay' FX
  CHANGELOG.md
  docs/ref/audiofx.rst
  docs/ref/audiofx/moviepy.audio.fx.all.audio_delay.rst
  moviepy/audio/fx/__init__.py
  moviepy/audio/fx/audio_delay.py
  tests/test_fx.py
Labels: audio, feature, fx

#1492 Add multiline metadata parsing to 'ffmpeg_parse_infos'
  moviepy/video/io/ffmpeg_reader.py
  tests/test_ffmpeg_reader.py
Labels: bug-fix

#1495 Test 'resize' FX against all implementations and arguments
  moviepy/video/fx/resize.py
  tests/test_fx.py
Labels: fx, tests, video
