Repository Zulko/moviepy, pull requests merged in 2021-05, with the labels that each got.

#1552 VideoClip blitting: fix truncation bug to enable fractional opacity
  CHANGELOG.md
  moviepy/video/VideoClip.py
  moviepy/video/tools/segmenting.py
  setup.cfg
  tests/test_compositing.py
Labels: bug-fix, video

#1565 Bump decorator to <6.0
  moviepy/decorators.py
  setup.py
Labels: dependencies

#1567 Remove requests as a dependency
  CHANGELOG.md
  moviepy/video/io/downloader.py
  setup.py
Labels: dependencies, refactor

#1573 Update pre-commit configuration
  .pre-commit-config.yaml
Labels: tooling

#1574 Add tests for 'audio_fadein' FX
  CHANGELOG.md
  moviepy/audio/fx/audio_fadein.py
  tests/test_fx.py
Labels: audio, bug-fix, fx, tests

#1578 Add tests for 'audio_fadeout' FX
  CHANGELOG.md
  moviepy/audio/fx/audio_fadeout.py
  tests/test_fx.py
Labels: audio, bug-fix, fx, tests

#1546 Document 'accel_decel' FX properly; raise ValueError for invalid 'sooness' value
  CHANGELOG.md
  docs/_static/accel_decel-fx-params.png
  moviepy/video/fx/accel_decel.py
Labels: documentation, fx

#1579 Test left, right, top, bottom and color arguments of margin FX
  moviepy/video/fx/margin.py
  tests/test_fx.py
Labels: fx, tests, video

#1572 Add 'start_time' and 'end_time' parameters to multiply_volume FX
  CHANGELOG.md
  moviepy/audio/fx/multiply_volume.py
  tests/test_fx.py
Labels: audio, enhancement, fx

#1581 Document 'find_video_period'
  moviepy/video/tools/cuts.py
  tests/test_misc.py
  tests/test_videotools.py
Labels: documentation, refactor, tests, video

#1582 Add tests for 'slide_in' transition
  moviepy/video/compositing/transitions.py
  tests/test_compositing.py
Labels: documentation, tests, video

#1583 Test editor preview methods
  .github/workflows/test_suite.yml
  tests/test_editor.py
Labels: tests

#1584 Test tools, refactor increasing tests performance
  moviepy/tools.py
  tests/test_PR.py
  tests/test_SubtitlesClip.py
  tests/test_VideoClip.py
  tests/test_fx.py
  tests/test_helper.py
  tests/test_tools.py
Labels: performance, refactor, tests

#1585 Add tests for 'find_audio_period'
  moviepy/audio/tools/cuts.py
  tests/test_AudioClips.py
  tests/test_audiotools.py
  tests/test_ffmpeg_reader.py
  tests/test_fx.py
  tests/test_helper.py
Labels: audio, documentation, refactor, tests

#1586 Add tests for 'slide_out' transition
  moviepy/video/compositing/transitions.py
  tests/test_compositing.py
Labels: tests, video

#1587 Test some ffmpeg video tools and document them
  moviepy/video/io/ffmpeg_tools.py
  tests/test_ffmpeg_tools.py
Labels: documentation, ffmpeg, tests

#1588 Add tests for 'FramesMatches'
  moviepy/video/tools/cuts.py
  tests/test_videotools.py
Labels: refactor, tests, video

#1589 Add tests for Clip class and improve its documentation
  CHANGELOG.md
  moviepy/Clip.py
  tests/test_Clip.py
Labels: documentation, tests

#1590 Add tests for VideoClip and root __init__
  moviepy/video/VideoClip.py
  tests/test_VideoClip.py
  tests/test_editor.py
  tests/test_examples.py
  tests/test_issues.py
Labels: documentation, tests

#1592 Add tests for HTML tools
  moviepy/video/io/html_tools.py
  tests/test_videotools.py
Labels: 3rd-party, bug-fix, documentation, tests

#1593 Refactor tests files removing 3
  tests/test_SubtitlesClip.py
  tests/test_audiotools.py
  tests/test_ffmpeg_reader.py
  tests/test_resourcerelease.py
  tests/test_resourcereleasedemo.py
  tests/test_videotools.py
Labels: refactor, tests

#1456 Delete redundant on_color.py
  CHANGELOG.md
  moviepy/video/VideoClip.py
  moviepy/video/compositing/on_color.py
Labels: breaking-change, refactor

#1594 Allow to pass 't' argument of 'clip.show' as 'HH:MM:SS' format
  CHANGELOG.md
  moviepy/utils.py
  moviepy/video/io/VideoFileClip.py
  moviepy/video/io/preview.py
  tests/test_tools.py
Labels: documentation, tests

#1595 Add tests for 'download_webfile'
  moviepy/video/io/downloader.py
  tests/test_helper.py
  tests/test_tools.py
Labels: documentation, tests

#1597 Migrate Windows workflow to Github Actions
  .github/workflows/test_suite.yml
  README.rst
  appveyor.yml
  moviepy/config.py
Labels: tooling

#1596 Add tests for configuration module
  moviepy/config.py
  tests/test_tools.py
Labels: tests

#1599 Fix ImageMagick installer caching for Windows in CI
  .github/workflows/test_suite.yml
Labels: tooling

#1600 Add more tests and documentation for FramesMatches
  moviepy/video/tools/cuts.py
  tests/test_videotools.py
Labels: documentation, tests

#1591 Fix bug in scroll FX
  CHANGELOG.md
  moviepy/video/fx/scroll.py
Labels: bug-fix, fx, video

#1602 Add tests for drawing video tools
  moviepy/video/tools/drawing.py
  tests/test_videotools.py
Labels: documentation, tests, video
