Repository Zulko/moviepy, pull requests merged in 2021-04, with the labels that each got.

#1514 Correct variable name in progress bar
  moviepy/Clip.py
Labels: breaking-change

#1537 Update preview.py, fix issue #575
  CHANGELOG.md
  moviepy/video/io/preview.py
Labels: bug-fix, pygame, video

#1541 Don't execute 'version.py' file in installation script
  setup.py
Labels: refactor

#1399 Bug fix: for rotating mask images.
  moviepy/video/fx/rotate.py
Labels: bug-fix, fx, video

#1542 Update CodeQL analysis fetch-checkout logic in CI
  .github/workflows/codeql-analysis.yml
  CHANGELOG.md
Labels: tooling

#1543 Test mask rotation
  tests/test_fx.py
Labels: fx, tests, video

#1544 Add tests for rotate FX behaviour when Pillow is not installed
  moviepy/video/fx/rotate.py
  setup.cfg
  tests/test_fx.py
Labels: fx, tests, video

#1545 Test 'rotate' FX supported arguments by PIL version
  moviepy/video/fx/rotate.py
  tests/test_fx.py
Labels: fx, tests, video
